<!DOCTYPE html>
<html lang="es">

<%- include('./partial/head.ejs') %>

    <body>

        <div id="particles-js">
            <%- include('./partial/header.ejs') %>
                <div id="background"></div>
                <div class="cursor">
                    <div id="foreground">
                    </div>

                    <h1>Fufas.pop</h1>
                    <p>Primeros pasos con Express</p>
                </div>
        </div>
    </body>

</html>