<!DOCTYPE html>
<html lang="es">

<%- include('./partial/head.ejs') %>

<body>
    <div id="particles-js">

        <%- include('./partial/header.ejs') %>

        <%- include('./home.ejs') %>
        <!--  -->
    </div>


    <script src="particles.js"></script>
    <script type="module" src="app.js"></script>

</body>

</html>