<%- include('./head.ejs') %>
    <header>
        <div class="logo">
            <div class="logo-nav">
                <a href="/" class="imagen"><img src="../../../public/img/carnaval.png" alt="logo"></a>
            </div>
            <nav class="navbar">
                <ul class="nav-links">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/about">Sobre nosotros</a></li>
                    <li><a href="/events">Eventos</a></li>
                    <li><a href="/contact">Contáctanos</a></li>
                    <li><a href="/join">Únete</a></li>
                </ul>
            </nav>
        </div>
    </header>